version: "3.8"

services:
  cozy:
    build: .
    container_name: cozy_live
    restart: unless-stopped

    env_file:
      - .env.cozy

    volumes:
      - ./musicas_cozy:/app/musicas_cozy:ro
      - ./video:/app/video:ro
      - ./config:/app/config:ro

    ports:
      - "8081:8080"

  dracco:
    build: .
    container_name: dracco_live
    restart: unless-stopped

    env_file:
      - .env.dracco

    volumes:
      - ./musicas_dracco:/app/musicas_dracco:ro
      - ./video:/app/video:ro
      - ./config:/app/config:ro

    ports:
      - "8082:8080"
