version: "3.8"

services:
  livebot:
    build: .
    container_name: livebot
    restart: unless-stopped

    env_file:
      - .env.secrets

    volumes:
      - ./musicas_fixed:/app/musicas_fixed:
      - ./config:/app/config:ro

    ports:
      - "8080:8080"
