version: "3.8"

services:
  cozy:
    build: .
    environment:
      CHANNEL_NAME: cozy
    volumes:
      - ./config:/app/config:ro
      - ./musicas_cozy:/app/musicas:ro
      - ./video:/app/video:ro
    ports:
      - "8081:8080"

  dracco:
    build: .
    environment:
      CHANNEL_NAME: dracco
    volumes:
      - ./config:/app/config:ro
      - ./musicas_dracco:/app/musicas:ro
      - ./video:/app/video:ro
    ports:
      - "8082:8080"
