version: "3.8"

services:
  livebot:
    build: .
    container_name: livebot
    restart: unless-stopped

    env_file:
      - .env.secrets
      - ./config/cozyrainbeats.env

    volumes:
      - ./musicas_fixed:/app/musicas_fixed
      - ./config:/app/config:ro
      - ./video.mp4:/app/video.mp4:ro

    ports:
      - "8080:8080"
